@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Jokes Application</h1>
    <p>Find all the funniest jokes to share with your friends and family.</p>
</div>
